header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.container {
    display: flex;
}

.profile_photo {
    float: left;
    width: 30%;
    height: auto;
    background: #ccc;
}

.photo {
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
}

.main_part {
    float: left;
    padding-left: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: auto;
    /* margin-bottom: 10px; */
  }

.listwod {
    list-style-type: none;
}

.button {
    min-width: 100%;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: gray;
    color: #fff;
    margin-bottom: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }

footer {
    background-color: #777;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    width: 1rem;
    height: 1rem;
}

#cssvalidator {
    display: flex;
    justify-content: end;
}